.header_container {
  width: 100%;
  background-color: #111;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 15px;
  top: 0;
}

.header_container ul {
  display: flex;
  font-size: 19px;
  margin: 0 10px;
  color: #fff;
}

.header_container li {
  list-style: none;
  margin: 0 10px;
}

.header_container a {
  color: #fff;
  text-decoration: none;
}

.header_container a:hover {
  color: #aaa;
}


